.TravelCard {
    display: flex;
    flex-direction: row;
    padding: 24px;
    border: 1px solid #333;
    gap: 16px;
}

.TravelCard img {
    width: 40%;   
    height: fit-content; 
}

.TravelCard h1{
    font-size: 20px;
}

h1, h5, p{
    margin: 0px;

}

button {
    background-color: rgb(255, 121, 121);
    color: #333;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
}

.details div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.labels label{

    padding: 4px 12px;
    border-radius: 4px;
}

.regular {
    display: none;
}

.premium{

    display: block;
    background-color: #7eabff ;
}

.greatDeal{

    display: block;
    background-color: #7eff89 ;
}
